.acercade {
    width: 1000px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 100px;
    background-color:#fabc05;
    color: #092552;
    border-radius: 20px;
    padding: 50px;
}

.container-aboutus{
    width: 100%;
}

.acercade h2 {
    font-size: 60px;
}

.acercade p {
    display: inline-block;
    line-height: 55px;
    font-size: 30px;
}

.acercade .button-container {
    margin-top: 80px;

}

/* .acercade .button-container a {
    color: #5f6368;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
} */

